<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page-title}}</title>
    <link rel="stylesheet" href="inc/css/main-blocks.css"/>
    <link rel="stylesheet" href="inc/css/main-looks.css"/>
</head>
<body>
    {{> body }}
</body>
</html>